head
  link(rel='stylesheet' type='text/css' href='/Style.css')
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Dawser's Server
ul
  li
    a(href='/') Home

  li
    a(href='/ContactUs') Contact Us